.Footer {
    background-color: #0099ee;
    padding-top: 6px; 
    padding-bottom: 6px;       
    border-left: 5px solid white;    
    border-right: 5px solid white;    
    border-bottom: 5px solid white;    
}