.container{
  /* margin-bottom: 20px; */
  background-color: #0099ee;
}

.tweetContainer{
  display: flex;
  margin: 20px;
  height: 350px;
  
  
}

.textTweet{
  display: flex;
  /* margin-bottom: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  height: 180px;
  border-radius: 6%;
  
}


.tweets{
  flex: 1; 
  border-radius: 6%;
  
 }

.buttonContainer{
  display: flex;
}

.button{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.tweetPics{
  border-radius: 6%;
  max-width: 400px;
  max-height: 400px;
}

.profilePic{
  border-radius: 50%;
}

.userInfo{
  /* padding-top: 2px; */
  padding-bottom: 8px;
}

.singleTweet{
  background-color:white;
  border: 4px #aaaaaa solid;
  height: 150px;
  border-radius: 6%;
  margin-left: 5px;
  margin-right: 5px;
  
}

.pictureTweet{
  background-color:white;
  border: 4px #aaaaaa solid;
  height: 350px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6%;
}