.container{
  /* margin-bottom: 20px; */
  background-color: #0099ee;
}

.tweetContainer{
  display: flex;
  margin: 20px;
  height: 40vh;
  
  /* border: 4px #aaaaaa solid; */
}

.textTweet{
  display: flex;
  margin-bottom: 6vh;
  margin-left: 20px;
  margin-right: 20px;
  

  height: 180px;
  /* border-radius: 6%; */
  
}

.singleTweet{
  background-color:white;
  border-radius: 6%;
  height: 21vh;
  margin-bottom: 2vh;
  margin-left: 5px;
  margin-right: 5px;
}
.tweets{
  flex: 1; 
  /* border-radius: 6%; */
  
  
  height: 30vh;
  
 }

.buttonContainer{
  display: flex;
}

.button{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.tweetPics{
  border-radius: 6%;
  max-width: 20vh;
  max-height: 20vh;
}

.profilePic{
  border-radius: 50%;
}

.userInfo{
  /* padding-top: 2px; */
  padding-bottom: 8px;
}

.pictureTweet{
  height: 30vh;
  padding: 1vh;
  margin-left: 5px;
  margin-right: 5px;
  
}

.pictureTweet{
  background-color:white;
  /* border: 4px #aaaaaa solid; */
  height: 350px;
  /* border-radius: 200px; */
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6%;
}