.container{
  margin-bottom: 20px;
}

.tweetContainer{
  display: flex;
  
}

.tweets{
  flex: 1;
  border: 4px #aaaaaa solid;
  border-radius: 20px;
  margin: 5px;
  padding: 50px;
  background-color: white;
  color: black;
}